<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">
    <h2 class="footer-heading">hollandwynn</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Charlie & Leah</li>
          <li>
            <a class="u-email" href="mailto:charlie@hollandwynn.com"
              >charlie@hollandwynn.com</a
            >
          </li>
          <li>
            <a class="u-email" href="mailto:leah@hollandwynn.com"
              >leah@hollandwynn.com</a
            >
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/registry">Registry Info</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
